@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Oriya:wght@400;500;600&display=swap');

.Navbar {
    width: 100%;
    height: 10vh;
    background: #ffffff;
    position: fixed;
    border-bottom: 1px solid rgba(48, 45, 45, 0.226);
    z-index: 99;

    img {
        width: 30px;
        margin-top: 0px;
        margin-left: 20vh;
    }


    ul  {
        width: 100%;
        margin: auto;
        justify-content: space-between;
        display: flex;
        text-align: center;

        li {
            width: 33%;
            list-style: none;
            text-align: center;
            display: flex;

            a {
                margin-top: 2vh;
                margin-left: 2vh;
                text-decoration: none;
            }

            h2 {
                font-size: 30px;
                color: black;
                margin-left: 17vh;
                margin-top: 1vh;
                font-family: 'Cinzel', serif;
            }
            h3 {
                font-size: 20px;
                color: black;
                margin-top: 2vh;
            }
        }
        
    }
}

.Navbar .MobileNavigation {
    width: 50%;
    height: 100px;
}
.Navbar .MobileNavigation .Hamburguer {
    margin-top: 25px;
    cursor: pointer;
}
.Navbar .mob {
    height: 90vh;
    width: 30vh;
    position: absolute;
    display: inline-block;
    margin-left: -25vh;
    text-align: left;
    margin-top: 10vh;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
}
.Navbar .mob li{
    width: 100%;
    height: 15vh;
    display: flex;
    border-bottom: 1px solid rgb(96, 99, 102);

    img {
        width: 50px;
        margin-left: 25px;
    }

    a {
        color: gray;
        text-decoration: none;
        margin-top: 6.5vh;
        margin-left: 4vh;
        font-size: 20px;
    }
}

@media (max-width: 1440px) {
    
.Navbar {

    img {
        visibility: hidden;
        width: 0px;
    }


    ul  {
        width: 90%;
        li {
            width: auto;
        }
        
    }
 }
 .Navbar .mob {
    width: 50vh;
    margin-left: -12vh;
}
.Navbar .mob li{
    margin-left: 0vh;

    a {
        color: gray;
        text-decoration: none;
        margin-top: 6.5vh;
        margin-left: 4vh;
        font-size: 20px;
    }
}
}

@media (max-width: 768px) {
    
    .Navbar {
    
        img {
            visibility: hidden;
            width: 0px;
        }
    
    
        ul  {
            width: 80%;
            li {
                width: auto;

                h2 {
                    margin-left: 0vh;
                    font-size: 0px;
                }
                a, h3 {
                    margin-left: 0vh;
                }
            }
            
        }
    }
}
@media (max-width: 550px) {
    
    .Navbar {
    
        img {
            visibility: hidden;
            width: 0px;
        }
    
    
        ul  {

            width: auto;

            li {
                width: auto;
                h2 {
                    margin-left: 0vh;
                    font-size: 0px;
                }
            }
            
        }
    }
}