
.login {
    width: 100%;
    height: 100vh;

    .container-forms {
        width: 50%;
        height: 50vh;
        margin-top: 25vh; margin-left: 50%;
        position: absolute;
        backdrop-filter: blur( 13.5px );
        -webkit-backdrop-filter: blur( 10.5px );
        border-radius: 10px;
        background-color: rgb(27, 29, 29);

        .title {
            display: flex;
            margin-top: 5vh;
            h1 {
                font-size: 30px;
                color: whitesmoke;
                margin-left: 5vh;
            }
    
            h2 {
                font-size: 25px;
                color: rgb(97, 95, 91);
                margin-left: 5vh;
                margin-top: 2.5vh;
            }
            h2:hover {
                color: whitesmoke;
            }
        }

        .forms {
            margin-top: 5vh;
            .username {
                margin-top: 5vh;
                width: 90%;
                height: 5vh;
                margin: auto;
                color: white;
                font-size: 22px;

                input {
                    margin-left: 5vh;
                    width: 400px;
                    height: 30px;
                    border: none;
                    border-radius: 5px;
                    background-color: transparent;
                    border: 2px solid rgb(243, 185, 60);
                    color: whitesmoke;
                }
            }
            .password {
                margin-top: 5vh;
                width: 90%;
                height: 5vh;
                margin: auto;
                color: white;
                font-size: 22px;

                input {
                    margin-left: 5vh;
                    width: 400px;
                    height: 30px;
                    border: none;
                    margin-left: 9vh;
                    border-radius: 5px;
                    background-color: transparent;
                    border: 2px solid rgb(243, 185, 60);
                    color: whitesmoke;
                }
            }

            button {
                margin-left: 5vh;
                margin-top: 3vh;
                width: 170px;
                height: 30px;
                border: 2px solid white;
                background-color: transparent;
                border-radius: 10px;
                cursor: pointer;
                color: whitesmoke;
            }
            button:hover {
                background-color: whitesmoke;
                color: black;
            }
        }

        
    }

    .container-text {
        width: 50%;
        height: 80vh;
        margin-top: 15vh;
        position: absolute;

        h1 {
            margin-left: 20vh;
            margin-top: 10vh;
            width: 60%;
            font-size: 50px;

        }
        h2 {
            margin-left: 20vh;
            width: 40%;
        }


        
    }
    
}

@media (max-width: 768px) {
    
.login {
    display: inline-block;
    .container-forms {
        position: relative;
        width: 80%;
        margin: auto;
        margin-top: 10vh;

        
    }

    .container-text {
        width: 100%;
        height: auto;
        margin-top: 25vh;
        position: relative;


        h1 {
            margin-left: 5vh;
            margin-top: 10vh;
            width: 80%;
            font-size: 40px;

        }
        h2 {
            margin-left: 5vh;
            width: 80%;
        }


        
    }
    
}
}